#maincontent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.page {
  min-height: 100vh;
  display: flex;

  flex-direction: column;
}

.ct_button {
  width: 100%;
  font-size: 2rem !important;
}

#maincontent > div {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 0.2rem;
}

.ripple {
  background: currentColor;
  opacity: 0.6;
  position: absolute;
  display: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: animate 0.8s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 420px;
    height: 420px;
    opacity: 0;
  }
}
