.carousel-item {
  width: 100vw;
  height: 100vh;
}
.carousel-item img {
  width: 50%;
  object-fit: cover;
  height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;
}

.active {
  display: flex !important;
}

